@tailwind base;
@tailwind components;
@tailwind utilities;

body > #root > div {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  font-size: 1.2rem;
}

nav span {
  font-size: 1.5rem;
}

h1 {
  font-size: 5rem;
}

span {
  font-size: 1.2rem;
}
